body {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
#landing {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 15px 20px 15px;
}
.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
}
#degree-symbol {
  position: relative;
  top: -15px;
  font-size: 32px;
}
.max-min-temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: #fff;
  padding-left: 10px;
}
.description {
  text-align: center;
  max-width: 300px;
}
#temperature {
  font-size: 52px;
}
#summary {
  font-size: 28px;
  margin-left: 5px;
  text-transform: capitalize;
}
.date-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#clock {
  font-size: 52px;
  text-align: center;
}
#date {
  font-size: 28px;
  text-align: center;
}
#logo-content {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
#logo > img {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 100%;
  border: solid 15px white;
}
.hero-content {
  text-align: center;
  line-height: 0.5;
}
#company-name {
  font-size: 28px;
}

#current-shift {
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}
#current-shift > p {
  font-size: 26px;
}
#letters > span {
  font-size: 28px !important;
  font-weight: 700;
  margin: 0;
  padding: 8px;
  filter: blur(2px);
}
.active {
  font-size: 28px !important;
  font-weight: 700;
  border-radius: 100%;
  padding-left: 12px !important;
  padding-right: 12px !important;
  line-height: 1.5;
  margin: 0;
  background: white;
  filter: blur(0px) !important;
}
.shift-a {
  background-color: rgba(181, 27, 27);
}
.shift-b {
  background-color: rgba(7, 66, 156);
}
.shift-c {
  background-color: rgba(25, 135, 84);
}

#live-dash-logo img {
  position: absolute;
  width: 200px;
  right: 5px;
  bottom: 5px;
}
#qr-code h6 {
  position: absolute;
  margin-left: 5px;
  margin-bottom: 18px;
  font-size: 14px;
  height: 150px;
  width: 150px;
  opacity: 1;
  left: 0px;
  bottom: 0px;
}
#qr-code img {
  position: absolute;
  height: 150px;
  width: 150px;
  opacity: 1;
  left: 0px;
  bottom: 0px;
}
